<html>
<head>
  <meta charset='UTF-8'>
  <title>Rack Demo</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,700,600,300,200' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='css/style.css'>
</head>
<body>
  <div class='container'>
    <header>
      <p>Rack application demo</p>
      <h1>Ruby on Sidewalks</h1>
    </header>

    <h2>Rack Framework and Middleware Resources</h2>

    <ul>
      <li><a href='http://rack.github.io/'>Official Rack Documentation</a></li>
      <li><a href='https://github.com/rack/rack-contrib'>rack-contrib</a></li>
      <li><a href='https://www.youtube.com/watch?v=cSjRbpl8lzQ&list=WL&index=10'>Getting Started with Rack</a></li>
      <li><a href='https://www.youtube.com/watch?v=MHYMObuEahc&index=17&list=WL'>Railscasts - Rack App from Scratch</a></li>
      <li><a href='https://www.youtube.com/watch?v=7u5TvA_l1wo&index=11&list=WL'>Railscasts - Rails Middleware Walkthrough</a></li>
      <li><a href='https://www.youtube.com/watch?v=EGGjQrgdg1s&index=15&list=WL'>Rails Online Conf - Rack in Rails 3</a></li>
      <li><a href='https://www.youtube.com/watch?v=XjX_8ynFpBw&index=12&list=WL'>The Power of Middleware - Building Your Own Mini Web Framework on Rack</a></li>
      <li><a href='https://www.youtube.com/watch?v=WeXpka50tHY&index=19&list=WL'>RailsConf 2016 - Stuck in the Middle: Leverage the power of Rack Middleware by Amy Unger</a></li>
    </ul>

    <h2>Rack Middleware Examples</h2>

    <ul>
      <li><a href='http://www.rubydoc.info/github/rack/rack/Rack/Reloader'>Rack::Reloader</a></li>
      <li><a href='http://www.rubydoc.info/github/rack/rack/Rack/Static'>Rack::Static</a></li>
      <li><a href='https://github.com/sunlightlabs/rack-honeypot'>Rack::Honeypot</a></li>
      <li><a href='https://github.com/ambethia/rack-google_analytics/'>Rack::GoogleAnalytics</a></li>
      <li><a href='https://github.com/bendiken/rack-throttle'>Rack::Throttle</a></li>
      <li><a href=''></a></li>
    </ul>
  </div>
</body>
</html>
